html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color:#000000
}
#burgerButton {
	margin-top:15px;
	float:left;
}

#masterheadline{
	margin-left:  50px;
	float:left;
}
.content{
	height:80%;
	width:100%;
	margin-left:0px;
	background-color: #262626;
	color: #A9A9A9;
	overflow: auto;
}
/*.content h2 {*/
	/*color: #A9A9A9;*/
/*}*/
/*.content p {*/
	/*color: #A9A9A9;*/
/*}*/
/*content li {*/
	/*color: #A9A9A9;*/
/*}*/

.header{
	height:15%;
	min-height: 100px;
	width:100%;
	margin-left:0px;	
	background-color: #A9A9A9;
}
.header h1, a {
	color: #262626;
}


.sidenav {
	background-color: #262626;
}
.sidenav a,p {
	color: #A9A9A9;
}
.endpointScreen-visible {
	display: block
	color: #A9A9A9;
	width: 100%;
	background-color: #262626;
}
.endpointScreen-hidden {
	display: none;
	color: #A9A9A9;
	width: 100%;
	background-color: #262626;
}


#onSwitch{
	color: #4CAF50;
}
#offSwitch{
	color: black;
}

.footer{
	position:absolute;
	top:95%;
	width:100%;
	height:5%;
	min-height: 26px;
	margin-left:0px;
	color: #A9A9A9;
	background-color: black;
}
div.version {
	position:  absolute;
	bottom:5px;
	left:0px;
	height:20px;
	width:100%;
	font-size: 15px;
	text-align: center;
}

#maintest {
	position:absolute;
	bottom:0px;
	height:100px;
	width:150px;
	border: 1px solid white;
}
#othertest {
	 position:absolute;
	 bottom:0px;
	 border: 1px solid green;
 }